video {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.img-modal-menu {
    overflow-y: scroll;
}

.img-modal-menu::-webkit-scrollbar {
    width: 0px;
}

@keyframes animacao-cardapio {
    from {
        top: 0px;
    }

    to {
        top: 10px;
    }
}

.fa-chevron-down {
    animation-name: animacao-cardapio;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.div-categoria {
    max-width: 1260px;
}

.bg-obs {
    background-color: transparent;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
}

.bg-categoria {
    height: 175px;
    margin-bottom: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(200, 0, 0);
}

.itens-categoria {
    color: #e1e1e1;
    padding: 25px;
    margin-bottom: 15px;
}

.menu-item {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.modal-menu {
    height: 450px;
    background-color: #f3f3f3
}

.obs-cart::-webkit-scrollbar {
    width: 0px;
}

.obs-cart {
    width: 150px;
    height: 50px;
    word-wrap: break-word;
    white-space: normal;
    overflow-y: scroll;
}

.cart-add {
    margin-left: 5px;
}

.modal-menu::-webkit-scrollbar {
    width: 5px;
}

.modal-menu::-webkit-scrollbar-track {
    background: #f3f3f3;
}


.modal-menu::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 2px;
}

.modal-menu::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #c0c0c0;
}

.bg-modal-adc {
    overflow-y: scroll;
    height: 125px;
}


.btn-close {
    justify-content: end;
    color: rgb(100, 100, 100);
    position: relative;
    top: 15px;
    right: -35px;
}

.btn-close:hover {
    color: #C80000;
}

.cart-btn {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.cart-btn:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transform: scale(0.98);
}


.bg-modal-adc::-webkit-scrollbar {
    width: 5px;
}

.bg-modal-adc::-webkit-scrollbar-track {
    background: #bbbbbb;
}

.bg-modal-adc::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    border-radius: 2px;
}

.bg-modal-adc::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #929292;
}


.detalhes-menu {
    padding: 0px 50px 50px 50px;
}

.detalhes-menu::-webkit-scrollbar {
    width: 0px;
}

.item-adc {
    margin-bottom: 15px;
    margin-right: 5px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
}

.fa-plus {
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.fa-plus:hover {
    color: #008a17;
}

.fa-minus {
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.fa-minus:hover {
    color: #C80000;
}

.show-carrinho {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cart {
    max-width: 150px;
    overflow-x: hidden;
}

.cart::-webkit-scrollbar {
    width: 10px;
}

.cart-modal::-webkit-scrollbar {
    width: 5px;
}

.cart-modal
::-webkit-scrollbar-track {
    background: #bbbbbb;
}

.cart-modal
::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    border-radius: 2px;
}

.cart-modal
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #929292;
}

.input-contato {
    margin-left: 5px;
}

.input-nome {
    margin-right: 5px;
}

@media screen and (max-width: 1023px) {
    .bg-categoria {
        height: 40vh;
    }
}

@media screen and (max-width: 825px) {
    .modal-menu {
        flex-direction: column;
        height: 90%;
    }

    .nome-modal-menu {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .detalhes-menu {
        overflow-y: scroll;
    }

}

@media screen and (max-width: 639px) {
    .bg-categoria {
        height: 100vh;
        background-color: #f3f3f3;
    }

    .itens-categoria {
        color: black;
    }
}